%h2 Shopping Cart
.cart-title
	%table
		= render(:partial => "cart_item", :collection => cart.items)
		%tr.total-line
			%td{:colspan => "2"} Total
			%td.total-cell
				= number_to_currency(cart.total_price)
			
	= button_to 'Checkout', :action => 'checkout'
	= button_to 'Empty Cart', :action => :empty_cart